In [1]:
import pandas as pd
from scipy import stats

In [7]:
df = pd.read_excel("Parametric.xlsx")

In [9]:
df.shape

(300, 4)

In [11]:
df.head()

  Group Treatment  Age  Cholesterol
0     I         A   74          6.7
1     I         A   68          6.7
2    II         B   21          5.0
3     I         B   66          3.7
4   III         A   37         10.3

In [13]:
df.Cholesterol.mean()

6.007333333333333

In [15]:
stats.ttest_1samp(df.Cholesterol, 6)

TtestResult(statistic=0.06626994666948996, pvalue=0.9472071983074379, df=299)

In [17]:
stats.ttest_1samp(df.Cholesterol, 4)

TtestResult(statistic=18.139891765621098, pvalue=4.1202600671358595e-50, df=299)

In [19]:
stats.ttest_ind(df[df.Treatment == "A"].Cholesterol,
                df[df.Treatment == "B"].Cholesterol)

TtestResult(statistic=1.6429180984069158, pvalue=0.10145456832306156, df=298.0)

In [21]:
stats.ttest_ind(df[df.Treatment == "A"].Cholesterol,
                df[df.Treatment == "B"].Cholesterol,
               equal_var = False)

TtestResult(statistic=1.6442431179506196, pvalue=0.10119260368785409, df=294.61193107563867)

In [ ]:
stats.f_oneway(df[df.Group == "1"]["Age"],
               df[df.Group == "2"]["Age"],
               df[df.Group == "3"]["Age"])

In [25]:
#Comparing categorical variables
df = pd.read_excel("Categorical.xlsx")
df.shape

(300, 4)

In [27]:
df.head()

  Group Treatment  Choice  Outcome
0     A         I       3        0
1     A        II       2        1
2     B       III       5        0
3     B       III       5        1
4     A        II       3        1

In [29]:
df.Group.value_counts()

Group
B    158
A    142
Name: count, dtype: int64

In [31]:
df.Group.value_counts(normalize = True)*100

Group
B    52.666667
A    47.333333
Name: proportion, dtype: float64

In [33]:
df.Choice.value_counts()

Choice
1    69
4    62
5    62
2    54
3    53
Name: count, dtype: int64

In [37]:
df.groupby("Group")["Choice"].value_counts()

Group  Choice
A      2         33
       4         30
       1         27
       3         27
       5         25
B      1         42
       5         37
       4         32
       3         26
       2         21
Name: count, dtype: int64

In [39]:
pd.crosstab(df.Choice, df.Group)

Group    A   B
Choice
1       27  42
2       33  21
3       27  26
4       30  32
5       25  37

In [41]:
stats.chi2_contingency(pd.crosstab(df.Choice, df.Group))

Chi2ContingencyResult(statistic=7.501505212098097, pvalue=0.11164293763753588, dof=4, expected_freq=array([[32.66      , 36.34      ],
       [25.56      , 28.44      ],
       [25.08666667, 27.91333333],
       [29.34666667, 32.65333333],
       [29.34666667, 32.65333333]]))