In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("comorbid.xlsx")

In [5]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

,Age,Grade,Logistics,Temperature,Pneumonia,Hypertension,DiabetesMellitus
0,77,B,Immediate Surgical intervention(then Ward / IC...,37.4,No,No,No
1,64,A,Admit to Ward for Care,38.0,No,Yes,No
2,87,A,Admit to Ward for Care,38.5,No,No,No
3,70,A,Admit to Ward for Care,38.2,No,No,No
4,85,B,Admit to Ward for Care,38.1,No,Yes,No

In [9]:
df.tail()

,Age,Grade,Logistics,Temperature,Pneumonia,Hypertension,DiabetesMellitus
592,54,A,Admit to Ward for Care,39.9,No,No,No
593,40,B,Admit to Ward for Care,39.0,No,No,No
594,18,A,Admit to Ward for Care,39.1,No,No,No
595,33,A,Admit to Ward for Care,38.9,No,No,No
596,24,B,Admit to Ward for Care,37.3,No,Yes,No

In [13]:
df.columns

Index(['Age', 'Grade', 'Logistics', 'Temperature', 'Pneumonia', 'Hypertension',
       'DiabetesMellitus'],
      dtype='object')

In [15]:
len(df)

597

In [17]:
df.shape

(597, 7)

In [21]:
df.shape[0]

597

In [23]:
df.shape[1]

7

In [25]:
df.Temperature

0      37.4
1      38.0
2      38.5
3      38.2
4      38.1
       ...
592    39.9
593    39.0
594    39.1
595    38.9
596    37.3
Name: Temperature, Length: 597, dtype: float64

In [27]:
df["Temperature"]

0      37.4
1      38.0
2      38.5
3      38.2
4      38.1
       ...
592    39.9
593    39.0
594    39.1
595    38.9
596    37.3
Name: Temperature, Length: 597, dtype: float64

In [31]:
df.Grade

0      B
1      A
2      A
3      A
4      B
      ..
592    A
593    B
594    A
595    A
596    B
Name: Grade, Length: 597, dtype: object

In [33]:
df[df.Grade=="A"]

,Age,Grade,Logistics,Temperature,Pneumonia,Hypertension,DiabetesMellitus
1,64,A,Admit to Ward for Care,38.0,No,Yes,No
2,87,A,Admit to Ward for Care,38.5,No,No,No
3,70,A,Admit to Ward for Care,38.2,No,No,No
7,29,A,Admit to Ward for Care,38.1,No,Yes,No
8,73,A,Admit to Ward for Care,37.9,No,No,No
...,...,...,...,...,...,...,...
589,61,A,Consultation only (leave in original ward),36.0,No,No,No
590,60,A,Consultation only (leave in original ward),37.9,No,No,No
592,54,A,Admit to Ward for Care,39.9,No,No,No
594,18,A,Admit to Ward for Care,39.1,No,No,No
595,33,A,Admit to Ward for Care,38.9,No,No,No

In [35]:
df[df.Grade!="A"]

,Age,Grade,Logistics,Temperature,Pneumonia,Hypertension,DiabetesMellitus
0,77,B,Immediate Surgical intervention(then Ward / IC...,37.4,No,No,No
4,85,B,Admit to Ward for Care,38.1,No,Yes,No
5,30,B,Immediate Surgical intervention(then Ward / IC...,37.1,No,Yes,Yes
6,60,B,Admit to Ward for Care,38.0,No,Yes,No
11,74,B,Admit to Ward for Care,39.1,Yes,Yes,Yes
...,...,...,...,...,...,...,...
586,65,B,Admit to Ward for Care,35.9,No,No,No
587,37,B,Admit to Ward for Care,38.7,No,No,No
591,54,B,Consultation only (leave in original ward),38.0,No,No,No
593,40,B,Admit to Ward for Care,39.0,No,No,No
596,24,B,Admit to Ward for Care,37.3,No,Yes,No